@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 15%;
    --foreground: 0 0% 90%;

    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 70%;

    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 90%;

    --card: 0 0% 15%;
    --card-foreground: 0 0% 90%;

    --border: 0 0% 30%;
    --input: 0 0% 30%;

    --primary: 0 0% 90%;
    --primary-foreground: 0 0% 10%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 90%;

    --accent: 0 0% 60%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 60%;
    --radius: 0.5rem;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .dark {
    --background: 0 0% 15%;
    --foreground: 0 0% 90%;

    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 70%;

    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 90%;

    --card: 0 0% 15%;
    --card-foreground: 0 0% 90%;

    --border: 0 0% 30%;
    --input: 0 0% 30%;

    --primary: 0 0% 90%;
    --primary-foreground: 0 0% 10%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 90%;

    --accent: 0 0% 60%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 60%;
    
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  
  /* Custom Scrollbar Styles */
  /* For Webkit-based browsers (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: hsl(var(--background));
  }

  ::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 10px;
    border: 3px solid hsl(var(--background));
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--primary));
  }

  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #333333 hsl(var(--background));
  }
}

@layer utilities {
  .event-card-hover-container .event-card-options {
    @apply invisible opacity-0 scale-95;
  }
  .event-card-hover-container:hover .event-card-options {
    @apply visible opacity-100 scale-100;
  }
}
    